#init{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 111;
}
.text-boot{
    font-size: 65px;
    font-weight: 800;
    color: cadetblue;
    margin: 0;
}
.parent{
    position: relative;
    height: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child{
    box-shadow: 0 0 2px var(--primary-color);
    border-radius: 15px;
    height: 100%;
    width: 400px;
    margin: auto;
    background: white;
}
.header{
    background: var(--primary-color);
    padding: 16px 0 ;
    text-align: center;
    color: white;
}
.refBtn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}
.header h2{
    text-align: center;
}
.end{
    position: relative;
    bottom: 0;
    width: 100%;
    background:var(--sidebar-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: black;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 0 3px rgb(153,153,153);
}
#chat-box{
    position: relative;
    top: 0;
    padding: 8px 10px;
    font-size: 12px;
    height: 29.2rem;
    overflow: auto;
    background: var(--body-color);
    text-align: center;
}

/* these classes will be used in javascript file */
/* maseege bot */
.msg{
    max-width: 65%;
    text-align: left;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    min-width: 48px;
    padding: 10px 12px;
    word-wrap: break-word;
    background: var(--primary-color-light);
    color: white;
    margin-bottom: 10px;
    /* border: 1px solid var(--text-color); */
}
.test{
    text-align: right;
    margin: 20px 0;
}
/* maseege user */
.rep{
    text-align: right;
    background-color: #f7f7f7;
    border: 2px solid var(--primary-color-light);
    border-radius: 8px;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    min-width: 48px;
    padding: 10px 12px;
}
/* choose */
.opt{
    padding: 5px 20px;
    border: 1px solid var(--primary-color-light);
    border-radius: 10px;
    margin: 0.3rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    background: #f7f7f7;
    text-align: center;
    font-size: 14px;
    color: #575757;
}
.test-boot{
    display: flex;
    justify-content: end;
}