/*============================== Start Root ======================================*/
:root {
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-color: #fc7daa;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --body-color: #f2f6fc;
  --sidebar-color:  #daeaeb7a;
  --primary-color: #06794f;
  --primary-color-light: #058858;
  --toogle-color:hsl(0, 0%, 87%) ;
  --text-color:#333 ;
  --back-sections:white ;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-color);
  transition:ALL 0.4S ease ;
}
body.dark{
  --main-color: #393072;
  --body-color: #18191A;
  --sidebar-color: #dae7fb96;
  --primary-color: #0061f2;
  --primary-color-light: rgb(120, 166, 220);
  --toogle-color:#333 ;
  --text-color:white ;
  --main-color-alt: #18191A;
  --back-sections:#cdd2da ;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*==============================End Root ==============================================*/
/*============================== Start Responsive Screen ==============================*/
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*============================== End Responsive Screen  ==============================*/