
/*============================== Start Responsive Screen ==============================*/
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*============================== End Responsive Screen  ==============================*/
/*============================== Start Post=======================================*/

.post .container{
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  
}
.post .container .card{
  
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  padding: 10px;
  width: 700px;
  margin: 0px 0px 10px 0px;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);
  transition: all .3s ease;
}
.post .container .card:hover{
  background-color: #d5d8da7e;
}
.post .container .card .img-post img{
  width: 100px;
  border-radius: 20px;
  float: left;

}
.post .container .card .name-post {
  display: flex;
  justify-content: space-between;
}
.post .container .card .name-post h2{
  padding: 10px 30px 0 7px;
  font-size: 20px;
}
.post .container .card .details-post {
  display: flex;
  padding: 10px;
}
.post .container .card .details-post p{
  padding: 0px 23px 0px 0px ;
}
.post .container .card .Star-post {
  color: #1787e0;
  font-size: 18px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.post .container .card .Star-post p{
  color: var(--text-color);
  font-size: 18px;
}

/*============================== End Post  =======================================*/

/*=========================== Start Table  ==========================*/
.table{
  padding-right: 2.8rem !important;
  padding-left: 2.8rem !important;
  margin: 100px 100px;

}
.table .inf_table{
  background-color: #f7f7f7;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #dfdfdf;
  height: 45px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.table .inf_table h1{
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 0 10px;
}
.table .inf_table i{
  display: flex;
  justify-content: start;
  align-items: center;
}
.data_table{
  padding:1rem 1rem;
  background-color: white;
  border: 1px solid #dfdfdf;
}
.data_table .search{
  display: flex;
  justify-content: space-between;
}
.data_table .select{
  width: auto;
  height: 37px;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;

}
.data_table .select option{
  font-size: 17px;
}
.data_table input{
  border: 2px solid transparent;
  width: 15rem;
  height: 35px;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: white;
  border-radius: 5px 0 0 5px;
  transition: all 0.5s;
  margin: 0 0 20px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.data_table input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

table .sort{  
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  margin: -20px 0 0 0;
  color: #cccccc;
}
table .sort i{
  font-size:12px;
}  
table, td, th {  
  border: 1px solid #dfdfdf;
  text-align: left;
  background-color: white;
  
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}
.sort_num {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort_num ul{
  display: flex;
  /* justify-content: end; */
  /* align-items: center; */
  width: fit-content;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 0;

}
.sort_num li:last-child{
  border:none;
}
.sort_num li{
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  border-right: 1px solid #dfdfdf;
  border-radius: 0px;
  cursor: pointer;
}
.sort_num ul li:hover{
  background-color: #dfdfdf;
  transition: 0.5s;
}
.sort_num a{
  text-decoration: none;
  color: #0d6efd;
}

.accept{
  width: 100px;
  height: 25px;
  background-color: #0d6efd;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}
.accept:hover{
  background-color: #055fe5;

}
/*=========================== End Table  ==========================*/

