
.popup{
    width: 430px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    display: none;
    box-shadow: 0 4px 100rem rgba(0, 0, 0, 0.2);

  }
  #click:checked ~ .popup{
    opacity: 1;
    visibility: visible;
  }
  .popup img{
    width: 100px;
    margin-top: -50px;
  }
  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }
  .popup button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: white;
    border: 2px solid var(--primary-color);
    color: #333;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.6s;
  
  }
  .popup button:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 0.6s;
  
  }