* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	font-family: 'Sometype Mono', sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding: 5%;
	/*background-image: linear-gradient(90deg, rgba(34,193,195,0.7), rgba(253,187,45,0.7)), url("resources/imgs/wallpaper.jpg");*/
	background-color: #f2f6fc;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-bar {
	width: 100%;
	max-width: 700px;
	/*background: rgba(255, 255, 255, 0.2);*/
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
}

.search-bar input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 20px;
	color: rgba(0,0,0,0.6);
	font-weight: bold;
}

::placeholder {
	color: rgba(0,0,0,0.4);
}

.search-bar input, ::placeholder {
	border-bottom: 3px solid #000;
	border-color: rgba(0,0,0,0.6);
	padding-bottom: 10px;
}

.search-bar button img {
	width: 25px;
}

.search-bar button {
	border: 0;
	border-radius: 50%;
	/*margin-left: 20px;*/
	width: 50px;
	height: 50px;
	/*background: rgba(0,0,0,0.2);*/
	background-color: #f2f6fc;
	cursor: pointer;
}