/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.card{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile_card{
    width: 90%;
    max-width: 450px;
    text-align: center;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.cover-pic{
    display: block;
    width: 100%;
}
.profile-pic{
    width: 140px;
    border-radius: 50%;
    margin-top: -70px;
    box-shadow: 0 0 0 5px #fff;
}
.profile_card h1{
    font-weight: 600;
    
}
.row{
    display: flex;
    justify-content: space-around;
}
.row h2{
    font-weight: 500;
    font-size: 30px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;

}
.view-btn{
    display: inline-block;
    text-decoration: none;
    background: var(--primary-color);
    color: #fff;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px ;
}

.follow-btn{
    display: inline-block;
    padding: 6px 35px;
    margin: 25px 0 ;
    background-color: var(--primary-color);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--primary-color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color:var(--primary-color);
    font-weight: 500;
}
.follow-btn::after, .follow-btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--primary-color);
}      
.follow-btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}   
.follow-btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}   
.follow-btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}
.follow-btn:hover {
    color: white;
}
.follow-btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}