
/*============================== Start Responsive Screen ==============================*/
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*============================== End Responsive Screen  ==============================*//*============================== Start Landing ==================================*/
.landing{
  margin-bottom: 100px;
}
section{
  width: 100%;
  height: 96vh;
  overflow: hidden;
  z-index: 1;
  background-color: var(--back-sections);
  border-bottom-left-radius: 100% 15%;
  border-bottom-right-radius: 100% 15%;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 1.15rem;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 406px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}


.btnabout-us{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.625rem 1.5rem;
  text-align: center;
  outline: 0;
  text-decoration: none;
  width: 200px;
  background-color: var(--primary-color);
  margin: 10px;
  transition: 0.5s;
  background-size: 200% auto;
  color:white !important;
  cursor: pointer;
}
.btnabout-us i{
  padding:  0 0 0 8px;
}
.btnabout-us:hover{
  background-color:var(--primary-color-light);
}
/*============================== End Landing ===================================*/

/*============================== Start Sections ==================================*/


.sections{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
}


.vertical-bar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--back-sections);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  position: relative;
  margin: 20px;
  margin-left: 100px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--box-shadow-color); /* Use the box shadow color variable */
  cursor: pointer;
}
.vertical-bar img {
  max-width: 30%;
  max-height: 250px;
  margin-right: 20px;
  border-radius: 5px;
}
.vertical-bar .all-info h1{
  font-size: 3rem;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #361265;
}
.vertical-bar p {
  color: #707070;
  font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;    font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
}
/*for remove a x-navegation bar */
body {
  overflow-x: hidden;
}

.box-info{
  width: 90%;
}

/* Animation */

.animateO2 img{
  animation: moveImageO2 2.5s  forwards;

}
.animateL img{
  animation: moveImageL 2.5s  forwards;

}


@keyframes moveImageO2 {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

@keyframes moveImageL {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
@media (max-width:900px) {
  .box-info img{
      display: none;
      
  }
}

@media (max-width: 768px) {
  .vertical-bar{
    margin-left: 20px;
  }

}




/*============================== End Sections ==================================*/
/*============================== Start CONTACT US ==================================*/
.contactus {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.contactus .image {
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
  padding-top: 100px;
}
.contactus .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--sidebar-color);
  z-index: -2;

}
@media (max-width: 991px) {
  .contactus .image {
    flex-basis: 100%;
    padding-bottom: 100px;
  }
}
.contactus .form {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .contactus .form {
    flex-basis: 100%;
  }
}
.contactus .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--primary-color);
}
.contactus .form textarea.input {
  resize: none;
  height: 200px;
}
.contactus .form .input:focus {
  outline: none;
}
.contactus .form button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.contactus .form button:hover {
  background-color: var(--primary-color-light);
}
.contactus .content {
  text-align: center;
  padding: 0 20px;
  color: var(--text-color);
}
.contactus .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.contactus .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

/*============================== End CONTACT US ==================================*/
